body {
  background: url("fortnite.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  font-family: "Protest Riot", sans-serif;
}

h1, h2 {
  text-align: center;
  margin-top: 50px;
  font-family: "Protest Guerrilla", sans-serif;
  color: red;
  font-size: 50px;
}

p {
  margin-right: 10px;
  margin-left: 10px;
  padding: 1em;
  color: red;
}
#gamemodes {
  margin-left: 10px;
}
#gamemodes ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#gamemodes li {
    display: inline;
    color: red;
}
#gamemodes img {
  margin-left: 50px;
  margin-right: 50px;
}
img {
  width: 200px;
}

.container {
  position: relative;
  display: inline;
}
.centered {
  position: absolute;
  bottom: 25px;
  right: 45px ;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 20px;
}
.centered-2 {
  position: absolute;
  bottom: 25px;
  right: 10px ;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 20px;
}
.centered-3 {
  position: absolute;
  bottom: 25px;
  right: 25px ;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 20px;
}