body {
  background: url("fortnite.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  font-family: "Protest Riot", sans-serif;
}

h1, h2 {
  text-align: center;
  margin-top: 50px;
  font-family: "Protest Guerrilla", sans-serif;
  color: red;
  font-size: 50px;
}

p {
  margin-right: 10px;
  margin-left: 10px;
  padding: 1em;
  color: red;
}

#gamemodes ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#gamemodes li {
    display: inline;
}
#gamemodes img {
  margin-left: 50px;
  margin-right: 50px;
}
img {
  width: 200px;
}